@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');

:root{
    --text-color: #141414;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

::selection{
    background-color: rgba(35, 111, 243, 0.574);
}

/* Re-Usabele CSS */

.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* Header CSS */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .3s ease-in-out;
}

header.scrolled{
    background-color: transparent;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

header.scrolled nav.container{
    height: 110px;
}

nav.container{
    display: flex;
    align-items: center;
    height: 140px;
    /* line-height: 120px */
    /* since line-height is a property which adds distance between html contents, enabling the above 
    line of code will lead to the increse height of the links in our page, causing it to take additional
    unwanted space 
    
    to understand better, enable the above and head to the inspect tab on the browser
    */
    transition: .3s ease-in-out;
}

.links{
    width: 100%;
}

.links ul{
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-link{
    position: relative;  /*the position relative is there to add effects to the links using ::after and ::before*/
    display: inline-block;
    padding: 0 2.2rem;
    font-size: 1.35rem;
    letter-spacing: 1px;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    color: #141414;
    text-transform: uppercase;
}

/* Landing page */


section.landing-page{
    display: flex;
    /* align-items: center; */
}

.landing-page{
    margin-top: 140px;
    width: 100%;
    height: 640px;
    max-height: 640px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,.6)),url("images/image_6.jpg");
    /* since adding a filter:brighntness() will effect the contents laid on this html section 
    we use the linear gradient to dynamically change the brightness of our image*/
    background-size: cover;
    background-position: center;
}

.landing-page .container{
    /* display: flex; */  /* all the children of flex-box inherit it's property */
    flex-flow: column;
    align-self: center;
}

.landing-text{
    display: flex;
    flex-flow: column;
    justify-self: start;
}
    /* align-items: center; */
    /* justify-content: end; */
    /* the above commented properties work differently when the flex direction is shifted */

.landing-text h1{
    font-size: 3.5rem;
    font-weight: 200;
    color: whitesmoke;
}

.landing-text p{
    font-size: 1.35rem;
    letter-spacing: 1.5px;
    color: whitesmoke;
    font-weight: 300;
    line-height: 4rem;
}

.landing-page .cta{
    display: flex;
    position: relative;
    top: 2rem;
}

.btn{
    padding: 15px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.15rem;
    background: linear-gradient(to right,#fff 50%,rgba(0,0,0,0) 50%);
    background-position: right;
    background-size: 300% 100%;
    transition: .5s ease;
}

.btn:hover{
    background-position: left;
    color: black;
}


