@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

:root{
    --text-color: #141414;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

::selection{
    background-color: rgba(35, 111, 243, 0.574);
}

/* Re-Usabele CSS */

.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.2rem;
}

a.btn::selection,a > span::selection{
    background-color: transparent;
}

/* Header CSS */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .3s ease-in-out;
}

header.scrolled{
    background-color: transparent;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

header.scrolled nav.container{
    height: 110px;
}

nav.container{
    display: flex;
    align-items: center;
    height: 140px;
    /* line-height: 120px */
    /* since line-height is a property which adds distance between html contents, enabling the above 
    line of code will lead to the increse height of the links in our page, causing it to take additional
    unwanted space 
    
    to understand better, enable the above and head to the inspect tab on the browser
    */
    transition: .3s ease-in-out;
}

.links{
    width: 100%;
}

.links ul{
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-link{
    position: relative;  /*the position relative is there to add effects to the links using ::after and ::before*/
    display: inline-block;
    padding: 0 2.2rem;
    font-size: 1.35rem;
    letter-spacing: 1px;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    color: #141414;
    text-transform: uppercase;
    transition: .2s;
}

.nav-link.change{
    color: whitesmoke;
}

/* Landing page */


section.landing-page{
    display: flex;
    /* align-items: center; */
}

.landing-page{
    margin-top: 140px;
    width: 100%;
    height: 685px;
    max-height: 685px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,.6)),url('images/image_6.jpg');
    /* since adding a filter:brighntness() will effect the contents laid on this html section 
    we use the linear gradient to dynamically change the brightness of our image*/
    background-size: cover;
    background-position: center;
}

.landing-page .container{
    /* display: flex; */  /* all the children of flex-box inherit it's property */
    flex-flow: column;
    align-self: center;
}

.landing-text{
    display: flex;
    flex-flow: column;
    justify-self: start;
}
    /* align-items: center; */
    /* justify-content: end; */
    /* the above commented properties work differently when the flex direction is shifted */

.landing-text h1{
    font-size: 3.5rem;
    font-weight: 200;
    color: whitesmoke;
}

.landing-text p{
    font-size: 1.35rem;
    letter-spacing: 1.5px;
    color: whitesmoke;
    font-weight: 300;
    line-height: 4rem;
}

.landing-page .cta{
    display: flex;
    position: relative;
    top: 2rem;
}

.btn{
    white-space: nowrap;
    padding: 15px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.15rem;
    background: linear-gradient(to right,#fff 50%,rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200% 100%;
    transition: .5s ease;
}

.btn:hover{
    background-position: left;
    color: black;
}

/* simple Text */

.simple-text h1{
    font-size: 1.65rem;
    color: #141414;
    font-weight: 300;
    padding: 6.25rem 0;
    text-align: center;
}

/* service cards */

.service-card .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2.5rem;
}

.srv-card,.srv-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.srv-card{
    position: relative;
    /* border: 1px solid #8989897d; */
    box-shadow: 2px 3px 10px #8989897d;
    height: auto;
    width: 100%;
}

.srv-card img{
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1.5/1;  not necessary yet*/
}

.srv-text{
    padding: 3.45rem;
    padding-bottom: 2rem;
    color: #141414;
    text-align: center;
    word-spacing: 2px;
}

.srv-text h3{
    font-size: 1.3rem;
}

.srv-text p{
    font-weight: 300;
    font-size: 1.35rem;
    margin-top: 1.2rem;
}

.srv-card .btn.secondary{
    padding: 0px;
    color: rgb(136, 2, 219);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 2.5rem;
    transition: .3s ease;
}

.btn.secondary span{
    position: relative;
    top: 2px;
    font-size: 1.3rem;
    font-weight: 400;
    transition: .3s ease;
}

.btn.secondary:hover span{
    margin-left: 5px;
}

/* service post */

.service{
    position: relative;
    padding: 9rem 0 0 0;
}

.service .container{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.srv-s{
    display: grid;
    grid-template-columns: 47rem 1fr;
    align-items: end;
    width: 100%;
    height: 33rem;
    max-height: 35rem;
    margin-bottom: 9rem;
}

.srv-s:nth-child(2){
    display: grid;
    grid-template-columns: .9fr 1.6fr;
    align-items: end;
    width: 100%;
    height: 33rem;
    max-height: 35rem;
    margin-bottom: 9rem;
}

.srv-s:nth-child(2) .srv-box{
    left: 10rem;
    right: 0;
}

.srv-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.srv-s:nth-child(1) .srv-img{
    background-image: url("images/image_8.jpg");
}
.srv-s:nth-child(2) .srv-img{
    background-image: url("images/image_7.jpg");
}
.srv-s:nth-child(3) .srv-img{
    background-image: url("images/image_6.jpg");
}

.srv-box{
    position: relative;
    right: 10rem;
    top: 4rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    background-color: black;
    z-index: 5;
}

.srv-box h2{
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 1.2rem;
}

.srv-box p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

/* simple text end */

.simple-text.sec .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simple-text.sec h1{
    font-size: 1.75rem;
    padding-bottom: 3rem;
}

.btn.sec{
    color: rgb(136, 2, 219);
    border: 3px solid rgb(136, 2, 219);
    background: linear-gradient(to right, #fff 50%, rgb(136, 2, 219) 50%);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200% 110%;    
}

a.sec:hover{
    background-position: right;
    color: #fff;
}

/* ending quote */

blockquote{
    position: relative;
    padding: 5rem 0;
}
.quote .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7rem;
}

.quote q{
    color: #2e2c38;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

.quote div{
    margin-top: 2rem;
    color: #2e2c38;
    text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: 2px;
    font-weight: 600;
    align-self: flex-end;
}

section.final{
    background-color: rgb(136, 2, 219);
}

section.final .container{
    display: flex;
    align-items: center;
    padding: 7rem 1rem;
}

.final-txt{
    margin-right: 9rem;
}

.final-txt h1{
    font-size: 2.35rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.final-txt p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

/* footer */

footer{
    background-color: #141414;
    padding: 4rem;
}

footer .container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

footer p{
    text-align: center;
    font-size: 1rem;
    /* color:#8989897d; */
    color: #fff;
    margin: 1rem 20rem;
}

.socials{
    display: flex;
    padding: 0 3rem;
    border-bottom: 2px solid #8989897d;
}
.social-link{
    margin: 1rem 1.5rem;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .3s;
}

.social-link:hover{
    background-color: rgb(136, 2, 219);
    border-color: rgb(136, 2, 219);
}
